<<<<<<< HEAD
body {
    font-family: Verdana, sans-serif;
    overflow-wrap: break-word;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}

h1 {
    background-color: orange;
    color: brown;
    text-align: center;
    font-size: 48px;
}

h2 {
    color: red;
    background-color: salmon;
    border-bottom: solid 5px red;
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3, strong, li, p {
    color: #444;
}

ul {
    padding-left: 0;
}

li {
    list-style-position: inside;
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'cloister-black', Verdana, sans-serif;
    text-align: justify;
}

body {
    margin: auto;
    width: 50%;
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom right;
}

p {
    line-height: 1.5;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
>>>>>>> 2nd-project
}