@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Sans Pro', Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #656565;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

p {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6, strong:not(main strong) {
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.625rem;
}

h4 {
    font-size: 1.375rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 0.875rem;
}

sub, sup {
    font-size: 0.75rem;
}

blockquote {
    border-left: solid 5px #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

code {
    background: #f7f7f7;
    border: solid 2px #efefef;
    border-radius: .35em;
    font-size: .9em;
    margin-left: .35em;
    padding: .25em .35em;
    font-family: 'Courier New', monospace;
    color: #828282;
}

pre code {
    display: block;
    margin-left: 0;
}

a {
    text-decoration: none;
    transition: color, text-decoration, text-decoration-color;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
}

a:hover {
    color: #49bf9d;
    cursor: pointer;
}

ul, ol {
    list-style-position: inside;
    padding-left: 1em;
}

li:not(.ul-icons li:first-child) {
    padding-left: .5em;
}

.block, label:not(.inline), textarea {
    display: block;
}

input, textarea, select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 2px transparent;
    border-radius: 5px;
    background-color: #ddd;
    outline: none;
}

input:focus, textarea:focus {
    border: solid 2px #49bf9d;
}

input[type = radio], input[type = checkbox] {
    width: auto;
    margin-right: 5px;
}

input[type = submit] {
    cursor: pointer;
}

textarea {
    height: 10em;
}

label:not(label:has(input[type = radio])), label:not(label:has(input[type = checkbox])) {
    margin-top: 10px;
}

.inline {
    display: inline;
}

#root-header {
    width: 35%;
    height: 130vh;
    padding: 40px;
    text-align: right;
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../img/bg.jpg);
    background-position: center top;
    background-size: cover;
    position: fixed;
}

#root-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

#root-header h1 {
    margin-top: 20px;
    font-size: 18px;
    color: #ccc;
    line-height: 1.5;
}

#root-header strong {
    color: white;
}

#root-header h2 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
}

#portfolio-link {
    text-decoration: underline dotted;
    text-decoration-color: #656565;
}

#portfolio-link:hover {
    text-decoration: none;
    text-decoration-color: #656565;
}

main {
    width: 65%;
    height: 100vh;
    padding: 72px 36px;
    position: fixed;
    left: 35%;
    overflow-y: auto;
}

#rw-cards-holder {
    overflow: auto;
}

.rw-cards-column {
    width: 45%;
    float: left;
}

.rw-cards-column:first-child {
    margin-right: 10%;
}

.rw-card {
    margin-bottom: 2em;
}

.rw-card img {
    border-radius: 10px;
    width: 100%;
}

.rw-card h4 {
    margin-top: 0;
}

.git-holder {
    width: 100%;
    overflow: auto;
    padding-top: 25px;
}

.git-holder .git-form {
    width: 64%;
    margin-right: 2%;
}

.git-holder .git-form .git-form-data {
    width: 48%;
    float: left;
}

.git-holder .git-form .git-form-data:first-child {
    margin-right: 4%;
}

.git-holder .git-address {
    width: 34%;
}

.git-holder .git-address p {
    margin-bottom: 1em;
}

.git-holder .git-form, .git-holder .git-address {
    float: left;
}

.ul-alternative {
    list-style-type: none;
    padding-left: 0;
}

.ul-alternative li {
    border-bottom: 2px solid #ccc;
    padding-left: 0;
}

.ul-alternative li:last-child {
    border-bottom: none;
}

.ul-icons {
    list-style-type: none;
    padding-left: 0;
}

.ul-icons li {
    display: inline-block;
    font-size: 1.5em;
}

.ul-icons i {
    color: #49bf9d;
}

.btn-default {
    display: inline-block;
    margin: 3px;
    padding: .75em 2em;
    background-color: #49bf9d;
    border: solid 2px #49bf9d;
    color: white;
    border-radius: 5px;
    font-size: .9em;
    text-align: center;
    width: auto;
    transition: all;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
}

.btn-default:hover {
    cursor: pointer;
    background-color: #60d0b0;
    border-color: #60d0b0;
}

.btn-default-stroke {
    background-color: white;
    border-color: #efefef;
    color: inherit;
}

.btn-default-stroke:hover {
    color: #49bf9d;
    background-color: white;
    border-color: transparent;
    box-shadow: 0 0 5px 2px #49bf9d;
}

.btn-default-small {
    font-size: .65em;
    padding: .75em 1.5em;
}

.btn-default-big {
    font-size: 1em;
}

.btn-default-full {
    display: block;
    width: 100%;
}

.btn-holder {
    overflow: auto;
}

.btn-group  {
    width: 45%;
    float: left;
}

.btn-group:not(.btn-group:last-child) {
    margin-right: 5%;
}

.btn-group div {
    margin-bottom: 2em;
}

.table {
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}

.table th {
    background-color: #ccc;
}

.table th, td {
    padding: .75em;
}

.table tbody td {
    border-bottom: solid 1px #ccc;
}

.table tbody tr:first-child td {
    border-top: solid 2px #656565;
}

.table tbody tr:last-child td {
    border-bottom: solid 2px #656565;
}

.table tbody tr:nth-child(odd) {
    background-color: #eee;
}

.table-alternative thead {
    border: solid 2px #ccc;
}

.table-alternative tbody td, .table-alternative tbody tr:first-child td, .table-alternative tbody tr:last-child td {
    border: solid 2px #ddd;
}

.radio-holder {
    overflow: auto;
    margin-bottom: 1rem;
}

.radio-label {
    width: 30%;
    float: left;
    cursor: pointer;
}

.radio-label:not(.radio-label:last-child) {
    margin-right: 5%;
}

.radio-label input[type = radio] {
    display: none;
}

.radio-label .radio-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px #ccc;
    border-radius: 50%;
    background-color: #ccc;
}

.radio-label input[type = radio]:checked ~ .radio-box {
    background-color: #60d0b0;
    border-color: #60d0b0;
    position: relative;
}

.radio-label input[type = radio]:checked ~ .radio-box::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
}

.radio-label span {
    display: inline-block;
}

.checkbox-label {
    cursor: pointer;
}

.checkbox-label input[type = checkbox] {
    display: none;
}

.checkbox-label .checkbox-box {
    display: inline-block;
    width: 40px;
    height: 20px;
    border: solid 1px #ccc;
    border-radius: 10px;
    background-color: #ccc;
    position: relative;
    transition-property: background-color;
    transition-duration: .15s;
    transition-timing-function: ease-out;
}

.checkbox-label input[type = checkbox]:checked ~ .checkbox-box {
    background-color: #60d0b0;
}

.checkbox-label .checkbox-box::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    border-radius: 50%;
    transition-property: left;
    transition-duration: .15s;
    transition-timing-function: ease-out;
}

.checkbox-label input[type = checkbox]:checked ~ .checkbox-box::before {
    left: 25px;
}

.gallery-principal img {
    width: 100%;
}

.gallery-cards-row {
    overflow: auto;
}

.gallery-principal, .gallery-cards-row {
    margin-bottom: 2%;
}

.gallery-card {
    float: left;
    width: 32%;
}

.gallery-card img {
    max-width: 100%;
    border-radius: 5px;
}

.gallery-card:not(.gallery-card:last-child) {
    margin-right: 2%;
}

.lar-holder {
    overflow: auto;
    text-align: justify;
    line-height: 1.5;
}

.lar-to-left * {
    float: left;
}

.lar-to-right * {
    float: right;
}

.lar-to-left img {
    margin-right: 1em;
}

.lar-to-right img {
    margin-left: 1em;
}

#root-footer {
    width: 35%;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    padding-right: 40px;
    text-align: right;
}

#root-footer * {
    font-size: 12px;
}

#root-footer a {
    text-decoration: none;
}

#root-footer .hidden {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#root-footer i {
    margin-left: 10px;
    text-align: right;
    color: rgba(255, 255, 255, .5);
    font-size: 20px;
    transition-property: color;
    transition-duration: .15s;
    transition-timing-function: ease-out;
}

#root-footer i:hover {
    color: white;
}

#root-footer p {
    margin-top: 10px;
}